button{
  border: none;
  background: none;
}


header {
  padding-top: 15px;
  background-color: #131921; }
  header .busqueda {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px; }
    header .busqueda .logo img {
      height: 50px;
      width: 200px;
      margin-left: 15px; }
    header .busqueda #Searchbar {
      height: 20px;
      width: 700px;
      padding-top: 4px;
      margin-left: 15px;
      margin-right: 15px; }
    header .busqueda .login img {
      height: 50px;
      width: 50px;
      margin-right: 15px; }
      
      
  header .navbar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #232f3e; }
    header .navbar #lista1 li {
      display: inline;
      padding-left: 70px; }
      header .navbar #lista1 li a {
        font: normal 30px Arial;
        text-decoration: none;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        transition: background-color .5s;
        border-radius: 4px; }
        header .navbar #lista1 li a:hover {
          background-color: whitesmoke; }

.Productos h1 {
  font: normal 30px Arial;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px; }

.Productos .ImgProd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 30px; }
  .Productos .ImgProd img {
    transition: transform .2s;
    height: 200px;
    width: 150px; }

.formulario {
  margin-top: 150px;
  padding: 3px; }
  .formulario h1 {
    font: normal 30px Arial;
    text-align: center;
    color: #131921;
    font-size: 40px; }
  .formulario input {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border: none; }
  .formulario .contenedor {
    width: 100%;
    padding: 15px; }
    .formulario .contenedor .input-contenedor {
      margin-bottom: 15px;
      border: 1px solid #aaa; }
    .formulario .contenedor .button {
      border: none;
      width: 100%;
      color: white;
      font-size: 20px;
      background: #232f3e;
      padding: 15px 20px;
      border-radius: 5px; }
      .formulario .contenedor .button:hover {
        background: #131921; }
    .formulario .contenedor p {
      text-align: center;
      padding-top: 5px; }
    .formulario .contenedor .link {
      text-decoration: none;
      color: #131921;
      font-weight: 600; }
      .formulario .contenedor .link:hover {
        color: #232f3e; }

footer {
  width: 100%;
  background-color: #131921;
  margin-top: 40px; }
  footer h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    color: white; }
  footer .container-columnas {
    display: flex;
    justify-content: space-around;
    padding-top: 15px; }
    footer .container-columnas img {
      width: 27px;
      height: 27px;
      margin-right: 4px; }
    footer .container-columnas .rowf {
      display: flex;
      font-size: 18px;
      margin-top: 10px;
      color: white; }
      footer .container-columnas .rowf .link {
        color: royalblue;
        text-decoration: none; }
        footer .container-columnas .rowf .link:hover {
          color: white; }
    footer .container-columnas .columna1 {
      width: 360px; }
      footer .container-columnas .columna1 p {
        font-size: 16px;
        color: white; }
    footer .container-columnas .columna2 {
      width: 360px; }
      footer .container-columnas .columna2 .RedesSociales {
        width: 220px;
        margin: auto; }
    footer .container-columnas .columna3 {
      width: 360px; }
      footer .container-columnas .columna3 .Contactos {
        width: 220px;
        margin: auto; }
  footer .container-subfooter {
    display: flex;
    background-color: #232f3e;
    justify-content: center;
    color: white; }
    footer .container-subfooter p {
      text-align: center;
      margin: 0px; }

@media (max-width: 1000px) {
  header .busqueda .logo img {
    height: 25px;
    width: 75px; }
  header .busqueda #Searchbar input {
    height: 25px; }
  header .busqueda .login img {
    height: 30px;
    width: 30px; }
  header .navbar {
    height: 65px;
    text-align: center;
    padding-top: 0px;
    padding-right: 15px; }
    header .navbar #lista1 {
      padding-top: 6px; }
      header .navbar #lista1 li {
        padding-left: 0px;
        padding-right: 0px; }
        header .navbar #lista1 li a {
          font-size: 20px;
          padding-left: 5px;
          padding-right: 5px; }
  .Productos h1 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px; }
  .Productos .ImgProd {
    padding-top: 10px;
    padding-bottom: 10px; }
  .Productos .ImgProd img {
    margin-top: 20px; }
  footer .container-columnas {
    width: 360px;
    margin: auto;
    display: block;
    padding-bottom: 30px; }
    footer .container-columnas .rowf {
      font-size: 16px; }
    footer .container-columnas img {
      width: 20px;
      height: 20px; }
    footer .container-columnas .columna1 .InfoFooter {
      width: 300px;
      margin: auto; }
      footer .container-columnas .columna1 .InfoFooter p {
        text-align: center;
        font-size: 14px; }
    footer .container-columnas .columna2 {
      margin-top: 30px; }
      footer .container-columnas .columna2 .RedesSociales {
        width: 190px; }
    footer .container-columnas .columna3 {
      margin-top: 30px; }
      footer .container-columnas .columna3 .Contactos {
        width: 190px; }
  footer .container-subfooter p {
    font-size: 14px; } }

@media (min-width: 768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%; } }

/* Css del curso de js */

.producto {
  display: flex;
  flex-direction: column;
}

.btnCardProd{
  background-color: #232f3e;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
}

#Carrito{
  display: flex;
  width: 1100px;
  margin: auto;
  margin-top: 70px;
}

#ContenedorCarrito{
 width: 800px;
}

#ResumenCompra{
 width: 300px;
 padding-left: 20px;
}

.productoEnCarrito{
  display: flex;
}

.productoEnCarrito img{
  height: 150px;
  width: 100px;
  margin-bottom: 50px;
}

.InfoProdCart{
  padding-left: 20px;
}

.InfoProdCart h2{
  font-family: muli-bold,sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}

.InfoProdCart p{
  margin-bottom: 7px;
}

.ControlCantidad{
  display: flex;
  height: 20px;
}

.CantProd{
  display: flex;
}

.BtnEliminar{
 padding: 0px;
 height: 27px;
}

.BtnEliminar img{
  height: 25px;
  width: 25px;
}

.btnQty{
 font-size: 16px;
}

#ResumenFinal h3{
  text-align: left;
  font-size: 20px;
}

#Subtotal{
  display: flex;
}

#Subtotal h3{
  font-size: 15px;
}

#btnFinalizar{
  color: white;
  font-size: 20px;
  background-color: #232f3e;
  padding: 7px 20px;
  border-radius: 5px;
}
#Carrito{
min-height: 500px;
}